!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "he", "dir" => "rtl"}
  %head
    %meta(content="text/html; charset=UTF-8"
          http-equiv="content-type")
    %script(type="text/javascript"
            src="js/jquery-1.4.2-min.js")
    %link(rel="stylesheet"
          href="css/screen.css"
          type="text/css")
    %link(rel="stylesheet"
          href="css/style.css"
          type="text/css")

    %title במות
  %body
    #page
      #topbar
        %span.logo במות
        %span מערכת מזמינה לשיחה
      #content
        %div.span-24.last
          %div(style="text-align: center; font-weight: bold; margin-top:1em;")
            %p יש להכניס סיסמת כניסה למערכת:
            %input(type="text")
            %input(type="submit" value="חבר אותי")
            %p
              %input(type="checkbox")
              %sub זכור אותי בפעמים הבאות
         
      #footer
        %span מערכת במות היא תוכנה חופשית ומומלצת לצפייה בדפדפן חופשי 
