<!DOCTYPE html>
<html dir="rtl">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <h4>שלום,</h4>
  <p>#{@user.firstname} #{@user.lastname} כתב\ה לך תגובה דרך הדוור הטוב. </p>
  <hr>
  <%= simple_format(@content) %>
  <hr>
  <br/><br/><p>באהבה,<br/>הדוור (הטוב).</p>
  </body>
</html>
