body {
  font-family: arial;
  background-color: #80113e;
  margin-top: 0.5em; }

#page {
  margin: 0 auto;
  padding: 0;
  width: 960px;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px; }

#topbar, #nav li {
  background: black;
  color: grey;
  font-weight: bold; }

#topbar span {
  color: white;
  text-shadow: white 0px 0px 5px; }

span.logo {
  font-size: 300%;
  font-weight: bold;
  padding: 1em 1em 1em 0.1em; }

span.title {
  color: #113d7f;
  font-weight: bold; }

h2 {
  border-bottom: lightgrey solid 1px; }

h3.line {
  border-bottom: lightgrey solid 1px; }

#footer {
  background: black;
  color: grey;
  text-align: center;
  font-size: 80%;
  clear: both; }

#nav {
  margin-right: 3em;
  font-weight: bold; }

#nav li {
  display: inline;
  list-style: none;
  margin-right: 0.5em;
  border-bottom: 4px white solid;
  padding: 0 5px; }

ol {
  font-size: 80%; }

#nav li:hover {
  color: white;
  text-shadow: white 0px 0px 5px; }

img.fp-thumb {
  width: 200px;
  -moz-box-shadow: black 0px 0px 1px;
  -webkit-box-shadow: black 0px 0px 1px;
  display: block;
  margin: auto; }

.topic-box {
  text-shadow: white 0px 0px 5px; }

.topic-box h4, .topic-box span {
  padding: 5px; }

.topic-box:hover {
  color: white; }

.topic-box:hover h4 {
  color: white; }

.red h4 {
  color: #80113e;
  font-weight: bold; }

.red:hover {
  background-color: #80113e; }

.yellow h4 {
  color: #747f11;
  font-weight: bold; }

.yellow:hover {
  background-color: #747f11; }

.green h4 {
  color: #117f53;
  font-weight: bold; }

.green:hover {
  background-color: #117f53; }

.blue h4 {
  color: #1c117f;
  font-weight: bold; }

.blue:hover {
  background-color: #1c117f; }

.space {
  margin-bottom: 2em; }

.more {
  text-align: left;
  padding-left: 1em;
  font-weight: bold;
  color: #80113e; }
