%div.span-6
  %p
%div.span-12
  :textile
    *היי, מה זה האתר הזה?*
    "במות" היא מערכת שמנסה לענות על כל מיני צרכים שלדעתנו יש בינהם כמה קווי דמיון. אתם יכולים לחשוב עליה כשילוב של עיתון/במה חדשה/אסופה/חוג יצירה ואולי עוד כל מיני דברים.

    *מה זה "נושא חודשי"?*
    הו! כל חודש אנחנו בוחרים נושא שאנחנו חושבים שכדאי *או* נחמד *או* חשוב *או* מעניין להתעסק בו, ונושא עבור החודש הבא. באותו חודש כולם כולם מוזמנים לשלוח תכנים שנוגעים בנושא הזה, או בנושא של החודש הבא. הדף הראשי של האתר מציג תערוכה מתחלפת של כל היצירות שעוסקות בנושא החודשי, וכשהחודש חולף מופיעות היצירות שנוגעות אליו, ואפשר עוד לשלוח אליו דברים עד סוף החודש.

    *מה היא גלריית ה"אקטואליה"?*

    *מה הקטע של "גליונות"?*
    בסוף כל חודש יוצא גליון מודפס בכמה עותקים בודדים ונדירים שיופצו באיזשהו אופן. בנוסף, אפשר יהיה להוריד מהאתר קובץ PDF זהה לעיתון כדי שכולם יוכלו להדפיס לעצמם גליונות ברי-קיימא על דפים ממוחזרים ולהנות מהעיתון גם כשהם בשירותים או כשהם מודאגים שהם גלשו כבר יותר מדי בפלאפון החודש.

    *למה אין תגובות באתר?*
    כלשון הכותרת, האתר הוא הזמנה לשיחה, אבל הוא לא המקום לזה. אם בא לנו להגיד משהו למישהו על היצירה שהוא פרסם - אפשר לפגוש אותו, אפשר להתקשר, אפשר למסור לו משהו דרך חבר. בשביל זה אנחנו מקפידים שהאתר יהיה לא אנונימי בעליל. אבל אם הדבר היחיד שאתם מרגישים בנוח לעשות זה לכתוב "מגניב" בסוף הדף באינטרנט - אולי עדיף לוותר על זה...

    *איך זה התחיל?*

    *אם אני חושב שזה רעיון נורא? שצריך לשנות הכל? אם אני רוצה לנשק את מי שעשה את זה?*
    אז תגיד! דבר על זה עם כל מי שאתה רואה וגם איתנו (אוהד, במחולות, 054-6732263 או עידו, חותם, 054-9732373 או יואב, במחולות, 054-932384). ניסינו לדבר על הרעיון ולהתלבט עליו עם כמה שיותר אנשים במשך תהליך העיצוב שלו, אבל מן הסתם לא הצלחנו לדבר עם כולם, ויותר מנשמח לדעת מה אתם חושבים.
%div.span-6.last
  %p
    :textile
      **תוכן עניינים?**
      * שלום
      * רב
      * לכולם
      * וביי
      * מכולם
