%div.span-6
  %p
%div.span-12
  :textile
    *היי, מה זה האתר הזה?*
    "הדוור הטוב" הוא אתר שמנסה לענות על כל מיני צרכים שלדעתנו יש בינהם כמה קווי דמיון. אתם יכולים לחשוב עליו כשילוב של עיתון/במה חדשה/אסופה/חוג יצירה ואולי עוד כל מיני דברים. "הדוור הטוב" הוא ניסיון ליצור מקום שיעודד אנשים ליצור ולשתף חברים אחרים ביצירות שלהם, שיעורר שיח תרבותי-חברתי וגם יהיה מקום סודי קצת פחות מהמגירה.

    *מה זה "נושא חודשי"?*
    הו! כל חודש אנחנו בוחרים נושא שאנחנו חושבים שכדאי *או* נחמד *או* חשוב *או* מעניין להתעסק בו. באותו חודש כולם-כולם מוזמנים לשלוח תכנים שנוגעים בנושא הזה, או בנושא של החודש הבא. הדף הראשי של האתר מציג תערוכה מתחלפת של כל היצירות שעוסקות בנושא החודשי, וכשהחודש חולף מופיעות היצירות שנוגעות אליו, שהתערוכה בו הולכת וגדלה עד שגם החודש הזה נגמר.

    *מה היא גלריית ה"אקטואליה"?*
    יצירות שמסומנות כ"אקטואליה" הן יצירות שאנחנו מאמינים שהן רלוונטיות לעכשו - יצירה בהשראת משהו שמתרחש עכשו בתנועה, במדינה, בעולם. יצירה כזו תכנס ישר לדף הראשי ולאחר זמן מה תעבור לגלריית ה"אקטואליה".

    *מה הקטע של "גליונות"?*
    בסוף כל חודש יוצא גליון מודפס בכמה עותקים בודדים ונדירים שיופצו באיזשהו אופן. בנוסף, אפשר יהיה להוריד מהאתר קובץ PDF זהה לעיתון כדי שכולם יוכלו להדפיס לעצמם גליונות ברי-קיימא על דפים ממוחזרים ולהנות מהעיתון גם כשהם בשירותים או כשהם מודאגים שהם גלשו כבר יותר מדי בפלאפון החודש.

    *אפשר להעלות יצירה שאינה קשורה לנושא החודשי?*
    בהחלט אפשר! האתר אומנם שם פוקוס מרכזי על הנושא החודשי, אבל אין שום בעיה להעלות יצירה ולסמן אותה כיצירה שאינה קשורה לנושא החודשי. במקרה כזה, היא תופיע ברשימת היצירות האחרונות וגם בדף האישי של מי שפרסם אותה.

    *למה אין תגובות באתר?*
    כלשון הכותרת, האתר הוא הזמנה לשיחה, אבל הוא לא המקום בשבילה. אם אתם רוצים  להגיד משהו למישהו על היצירה שהוא פרסם - אפשר לפגוש אותו, אפשר להתקשר, אפשר למסור לו משהו דרך חבר. בשביל זה אנחנו מקפידים שהאתר יהיה לא אנונימי בעליל. אם הדבר היחיד שאתם מרגישים בנוח לעשות זה לכתוב "מגניב" בסוף השיר באינטרנט - אולי עדיף לוותר על זה...

    *איך זה התחיל?*
    זה סיפור ארוך ואנחנו רוצים כבר לפתוח את האתר, אז אולי מתישהו נכתוב כאן משהו.

    *אם אני חושב שזה רעיון נורא? שצריך לשנות הכל? אם אני רוצה לנשק את מי שעשה את זה?*
    אז תגיד! דבר על זה עם כל מי שאתה רואה וגם איתנו (אוהד, במחולות, 054-6732263 או עידו, חותם, 054-9732373 או יואב, במחולות, 054-932384). ניסינו לדבר על הרעיון ולהתלבט עליו עם כמה שיותר אנשים במשך תהליך העיצוב שלו, אבל מן הסתם לא הצלחנו לדבר עם כולם, ויותר מנשמח לדעת מה אתם חושבים.
%div.span-6.last
