!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "he", "dir" => "rtl"}
  %head
    %meta(content="text/html; charset=UTF-8"
          http-equiv="content-type")
    %script(type="text/javascript"
            src="js/jquery-1.4.2-min.js")
    %link(rel="stylesheet"
          href="css/screen.css"
          type="text/css")
    %link(rel="stylesheet"
          href="css/style.css"
          type="text/css")

    %title במות
  %body
    #page
      #topbar
        %span.logo במות
        %span מערכת מזמינה לשיחה
        #nav
          %ul
            %li התחלה
            %li גליונות קודמים
            %li חיפוש
            %li מה זה בכלל
      #content
        %div.span-12
          %div.span-6
            %h3 זוגיות ואני #{"<sub> / אדם סמית' </sub>"}
            %p
              :maruku
                דג קטן הלך לטיול  
                ופגש שם דגים רבים אחרים  
                אבל הוא לא דיבר איתם  
                  
                יש דגים נסתרים  
                לא נבין לא נדע  
                נעשה גם דגים  
                שנראים בלי סיבה
          %div.span-6.last
            %h3 ללא שם #{"<sub> / אברי גלעד </sub>"}
            %img(src="imgs/couple.jpg"
                 class="fp-thumb")
          %div.span-6
            %h3 ללא שם #{"<sub> / יצחק שמטוב </sub>"}
            %img(src="imgs/wish.jpg"
                 class="fp-thumb")
          %div.span-6.last
            %h3 דגים והם #{"<sub> / מאיר דגן </sub>"}
            %p
              :maruku
                דג קטן הלך לטיול  
                ופגש שם דגים רבים אחרים  
                אבל הוא לא דיבר איתם  
                  
                יש דגים נסתרים  
                לא נבין לא נדע  
                נעשה גם דגים  
                שנראים בלי סיבה
        %div.span-12.last
          %div.span-3.red.topic-box
            %h4 ניו-מדיה (6)
            %span וידאו, מוסיקה
          %div.span-3.blue.topic-box
            %h4 כתיבהיוצרת (22)
            %span שירה, סיפורת, בובר
          %div.span-3.green.topic-box
            %h4 ויז'ואל ארט (19)
            %span צילום, ציור, פיסול
          %div.span-3.last.yellow.topic-box.space
            %h4 דעה (12)
            %span מסות, כתבות
          %h2
            %span החודש:
            %span.title ביטול הזוגיות
          %p דג קטן הלך לטיול ופגש שם דגים רבים אחרים. דג קטן הלך לטיול ופגש שם דגים רבים אחרים. דג קטן הלך לטיול ופגש שם דגים רבים אחרים. דג קטן הלך לטיול ופגש שם דגים רבים אחרים. דג קטן הלך לטיול ופגש שם דגים רבים אחרים. דג קטן הלך לטיול ופגש שם דגים רבים אחרים. דג קטן הלך לטיול ופגש שם דגים רבים אחרים. 
          %p.space דג קטן הלך לטיול ופגש שם דגים רבים אחרים. דג קטן הלך לטיול ופגש שם דגים רבים אחרים. דג קטן הלך לטיול ופגש שם דגים רבים אחרים. דג קטן הלך לטיול ופגש שם דגים רבים אחרים. דג קטן הלך לטיול ופגש שם דגים רבים אחרים. דג קטן הלך לטיול ופגש שם דגים רבים אחרים. דג קטן הלך לטיול ופגש שם דגים רבים אחרים.
          %div.span-4
            %h3 דברים אקראיים
            %ol
              %li בולבולים / גילי אולשר
              %li המלחמה והתחת / אהרן אמיר
              %li ללא שם / יצחק שמטוב
              %li אני והחברה / דונלד דאק
              %li זוג או פרד / שמחה רבה
          %div.span-4
            %h3 הצטרפו לאחרונה
            %ol
              %li דב ובר / במחולות
              %li אמיר פיי גוטמן / פייב
              %li תום תום / קלאב
              %li סיבה טובה / בעליל
              %li עדי צורגיל / בלי גרעין
          %div.span-4.last
            %h3 יצירות אחרונות
            %ol
              %li בולבולים / גילי אולשר
              %li המלחמה והתחת / אהרן אמיר
              %li ללא שם / יצחק שמטוב
              %li אני והחברה / דונלד דאק
              %li זוג או פרד / שמחה רבה
      #footer
        %span מערכת במות היא תוכנה חופשית ומומלצת לצפייה בדפדפן חופשי 
