!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "he", "dir" => "rtl"}
  %head
    %meta(content="text/html; charset=UTF-8"
          http-equiv="content-type")
    %script(type="text/javascript"
            src="js/script.js")
    %link(rel="stylesheet"
          href="css/style.css"
          type="text/css")
    %title במות
  %body
    #topbar
      #logo
        %h1 במות
        %span מערכת מזמינה לשיחה
      #nav
        %ul
          %li התחלה
          %li גליונות קודמים
          %li חיפוש
          %li מה זה בכלל
    #content
      .title
        %h1= 'שלום'
