!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "he", "dir" => "rtl"}
  %head
    %meta(content="text/html; charset=UTF-8"
          http-equiv="content-type")
    %script(type="text/javascript"
            src="js/jquery-1.4.2-min.js")
    %link(rel="stylesheet"
          href="css/screen.css"
          type="text/css")
    %link(rel="stylesheet"
          href="css/style.css"
          type="text/css")

    %title במות
  %body
    #page
      #topbar
        %span.logo במות
        %span מערכת מזמינה לשיחה
        #nav
          %ul
            %li התחלה
            %li העלאת יצירה
            %li גליונות קודמים
            %li חיפוש
            %li מה זה בכלל
            %li הרשמה
      #content
      
        %div.span-14
          %h3 זוגיות ואני #{"<sub> / אדם סמית' </sub>"}
          %p
            :maruku
              דג קטן הלך לטיול  
              ופגש שם דגים רבים אחרים  
              אבל הוא לא דיבר איתם  
                
              יש דגים נסתרים  
              לא נבין לא נדע  
              נעשה גם דגים  
              שנראים בלי סיבה
      

        %div.span-10.last
        %div.span-24.last
          %p(style="text-align:center;margin-top:15em;") התפרסם ב-7 במאי 2010, קצ"ט בחשוון ב' ה'תשע"ע #{"<br/>"} אדם סמית', גרעין בהקיץ, שכבת ש"ד. 054-9746949
          %p(style="text-align:center") << קטע קודם של אדם | קטע אחר של אדם | קטע הבא של אדם >> #{"<br/>"} << קטע קודם באתר | קטע אחר באתר | קטע הבא באתר >> 
          
        %div.span-24.last
          %div.span-6
            %p 
          %div.span-4
            %h3 דברים אקראיים
            %ol
              %li בולבולים / גילי אולשר
              %li המלחמה והתחת / אהרן אמיר
              %li ללא שם / יצחק שמטוב
              %li אני והחברה / דונלד דאק
              %li זוג או פרד / שמחה רבה
          %div.span-4
            %h3 הצטרפו לאחרונה
            %ol
              %li דב ובר / במחולות
              %li אמיר פיי גוטמן / פייב
              %li תום תום / קלאב
              %li סיבה טובה / בעליל
              %li עדי צורגיל / בלי גרעין
          %div.span-4.last
            %h3 יצירות אחרונות
            %ol
              %li בולבולים / מעין בן דוד
              %li המלחמה והתחת / אהרן אמיר
              %li ללא שם / יצחק שמטוב
              %li אני והחברה / דונלד דאק
              %li זוג או פרד / שמחה רבה
        %div.span-6.last
      #footer
        %span מערכת במות היא תוכנה חופשית ומומלצת לצפייה בדפדפן חופשי 
