!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "he", "dir" => "rtl"}
  %head
    %meta(content="text/html; charset=UTF-8"
          http-equiv="content-type")
    %script(type="text/javascript"
            src="js/jquery-1.4.2-min.js")
    %link(rel="stylesheet"
          href="css/screen.css"
          type="text/css")
    %link(rel="stylesheet"
          href="css/style.css"
          type="text/css")

    %title במות
    :css
      input, input[type="text"], input[type="password"], select {
        margin-bottom: 2.5em;
        border: 1px solid #BBBBBB;
      }
      input[type="radio"], input[type="checkbox"] {
        margin: 0;
      }
      input[type="submit"] {
        -moz-box-shadow: #000 0px 0px 2px;
        -webkit-box-shadow: #000 0px 0px 2px;
      }
      sub {
        color: grey;
      }
  %body
    #page
      #topbar
        %span.logo במות
        %span מערכת מזמינה לשיחה
        #nav
          %ul
            %li התחלה
            %li(style="color: white;") העלאת יצירה
            %li גליונות קודמים
            %li חיפוש
            %li מה זה בכלל
            %li הרשמה
      #content
      
        .span-18
          %h2 העלאת יצירה לאתר
          .span-18.last
            %h3 שם היצירה
            %input(type="text" value="ללא שם" required)
          .span-18.last
            .span-9
              %h3 אקטואליה
              %p
                %input(type="checkbox")
                %span זוהי יצירת אקטואליה <br/>
                %small יצירת אקטואליה היא הנפצה אחת גדולה שתשנה את התבל. כדאי לכם לא לשנות את הבחירה של המערכת. דמכם בראשכם
            .span-9.last
              %h3 הנושא החודשי
              %select
                %option לא קשור לנושא החודשי
                %option החודש: ביטול הזוגיות
                %option הבא: ביטול העבודה
            .span-18.last
              .span-9
                %h3 תגיות
                %textarea(style="width: 300px; height: 50px;")
              .span-9.last
                %h3 סוג היצירה
                %input(type="radio" name="type") דעה - מסות, כתבות, טורים<br/>
                %input(type="radio" name="type") ויז'ואל ארט - צילום, ציור, פיסול<br/>
                %input(type="radio" name="type") כתיבהיוצרת - שירה, סיפורת, בובר<br/>
                %input(type="radio" name="type") ניו-מדיה - וידאו, מוסיקה<br/>
            .span-18.last 
              .span-9
                %br
                %br
                %br
                %p אם היצירה שלכם היא יצירת טקסט או מוסיקה, יופיע התקציר שלה בכל הרשימות באתר. אפשר לכתוב את הפתיח של הסיפור, או כמה שורות מצויינות מהשיר - אבל אל תכתבו את הפאנצ'
              .span-9.last
                %br
                %h3 תקציר
                %textarea(style="width: 300px; height: 50px;")
            .span-18.last
              .span-6
                %br
                %br
                %br
                %br
                %span
                  :textile
                    *סימנים מוסכמים לעיצוב*  
                    
                    במקום ללמוד לתכנת, אתם יכולים להשתמש בכמה סימנים מוסכמים כדי לעצב את הטקסט שלכם.

                    אנחנו משתמשים בשיטה שנקראת טקסטיל, ואתם יכולים לקרוא פירוט שלה כאן. בגדול, פשוט צריך להקיף את הקטע שאתם רוצים לעצב בסימן מסויים, למשל:
                    * הדגשה: &#42;*בכוכביות*&#42;  
                    * קו תחתון: &#43;+בפלוסים+&#43;
                    * הטייה: &#95;_בקו תחתון_&#95;

                    כדי ליצור רשימות, טבלאות, כותרות וכו' - קראו עוד על טקסטיל.
              .span-12.last
                %br
                %h3 תוכן
                %textarea(style="width: 450px; height: 300px;")
            .span-18.last
              .span-6
                %br
                %br
                %br
                %br
                %span
                  :textile
                    *למה מיועדת הוספת קבצים?*  
                    
                    אם אתם מעלים יצירה של ניו-מדיה או ויז'ואל ארט, צרפו כאן את קובץ התמונה, הקול או הוידאו שלכם.
                    
                    לתמונות או וידאו יופיע סמליל במקום תקציר בכל הרשימות בהן היצירה שלכן מפורטת.
              .span-12.last
                %br
                %h3 הוספת קבצים
                %input(type="file")
        .span-6.last
          %p
            :maruku
              **הצילו! מה זה?!**  
              קודם כל לנשום. כאן אפשר להוסיף יצירה לאתר. עכשו הלאה.
              
              **מה זה נושא חודשי?**  
              אחד מהבסיסים של האתר (בניגוד לאינטרנט בהרבה מקרים) הוא היעדר האנונימיות שבו. חשוב לכתוב מאיזה גרעין אתם, מה השם המלא ומה מספר הטלפון שלכם כדי שניתן יהיה לזהות אתכם וכדי שיעמדו פנים מאחורי היצירות באתר. משתמשים עם פרטים מונפצים פשוט יוסרו מהאתר.
              
              **מה הכוונה באקטואליה?**  
              לא, פשוט צריך להפסיק לשאול שאלות ולמלא את הפרטים בצד שמאל!
              
              **מה זה תגיות?**  
              לא, פשוט צריך להפסיק לשאול שאלות ולמלא את הפרטים בצד שמאל!
              
              **מה הקטע של סוג היצירה?**  
              לא, פשוט צריך להפסיק לשאול שאלות ולמלא את הפרטים בצד שמאל!
              
              **שו תקציר?**  
              לא, פשוט צריך להפסיק לשאול שאלות ולמלא את הפרטים בצד שמאל!
              
              **איך מוסיפים תמונה?**  
              לא, פשוט צריך להפסיק לשאול שאלות ולמלא את הפרטים בצד שמאל!
      #footer
        %span מערכת במות היא תוכנה חופשית ומומלצת לצפייה בדפדפן חופשי 
